/**
 * About Section
**/

.about {

    .left-half {
        background: darken($background-color, 10%);
        background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/me-small.jpg) no-repeat center darken($background-color, 10%); 
        background-size: 100% 100%, cover;   


        @include media-query($on-laptop) {
            background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/me-medium.jpg) no-repeat center darken($background-color, 10%); 
            background-size: 100% 100%, cover;
        }
    }

    .right-half {
        overflow-y: scroll;
    }
}

