.articles {

    .left-half {
        background: darken($background-color, 10%);
        background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/articles-med.jpg) no-repeat center darken($background-color, 10%); 
        background-size: 100% 100%, cover;

        @include media-query($on-laptop) {
            background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/articles-large.jpg) no-repeat center darken($background-color, 10%); 
            background-size: 100% 100%, cover;
        }

        @include media-query($on-laptop) {
            background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/articles-xlarge.jpg) no-repeat center darken($background-color, 10%); 
            background-size: 100% 100%, cover;
        }
        
        h1 {
            font-size: 18vw;

            @include media-query($on-palm) {
                font-size: 9vw;
            }
        }
    }

    .right-half {
        overflow-y: scroll;

        .content {

            article {
                margin-bottom: 3em;
            }

            .title {
                margin-bottom: .25em;
            }
        }
    }

    article {
        
        h2 {
            &:before {
                display: none;
            }

            a {
                text-decoration: none;

                &:hover {
                    color: lighten($yellow, 20%);
                }
            }
        }
    }

}
