/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/**
 * Border Box
 */
html {
      box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

/**
 * Basic styling
 */
body {
    font-family: $serif;
    line-height: $base-line-height; 
    font-weight: 300; 
    color: white;
    background-color: $background-color; 

    a {
        color: $yellow;

        &:hover {
            color: lighten($yellow, 20%);
        }
    }

}

::selection {
    background: $yellow;
    color: white;
}


/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Videos
 */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Figures
 */
figure {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2.441em auto;

    > img {
        display: block;
        margin: 0 auto;
    }
}

figcaption {
    position: absolute;
    bottom: 0; 
    right: 0;
    font-size: .8em;
    color: white;
    background: rgba(0,0,0,.75);
    font-style: italic;
    padding: .4em;
    color: darken(white, 15%);
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit / 2;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Links
 */
a {
    color: $yellow;
    text-decoration: underline;
    position: relative;

    &:hover {
        text-decoration: none;
        color: darken($yellow, 20%);
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $yellow;
        }
    }
}

