/* 
* General Styles
 */


html,
body {
    height: 100%;
    width: 100%;
    font-size: $base-font-size; 

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

/**
 * Main Layout 
 */

.home,
.about,
.articles,
.work,
.post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;

    @include media-query($on-laptop) {
        flex-direction: row;
        height: 100vh;
    }

}

.left-half,
.right-half {
    flex: 1;
}

.left-half {        
    position: relative;
    min-height: 100vh;
    background: darken($background-color, 10%);
    background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/left-bg.jpg) no-repeat center darken($background-color, 10%); 
    background-size: 100% 100%, cover;

    .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    h1 {
        font-size: 17vw;
        line-height: 1;
        color: white;
        margin-bottom: .2em;

        @include media-query($on-laptop) {
            font-size: 9vw;
        }

        @media (max-width: 800px) and (orientation: landscape) {
            font-size: 8vw;
        }
    }

}

.right-half {
    padding: 2em 0;
    background: $background-color; 
    color: white;
    
    @include media-query($on-laptop) {
        overflow-y: scroll;
    }

    .content {
        padding: 0 5%;

        :first-child {
            margin-top: 0;
        }
    }

    h2, h3, h4 {
        color: darken(white, 45%);
    }

    h2 {
        font-family: $sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px; 
    }

    p {
        line-height: 1.8; 
    }
}

.recent-articles {
    p {
        font-size: .9em;
    }
}

