/* 
* General Styles
 */


html,
body {
    height: 100%;
    width: 100%;
    font-size: $base-font-size; 

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

.flex__container {
    display: flex;
}

.flex__item {
    flex: 1;
}

/**
 * Main Layout 
 */

.home,
.about,
.articles,
.work,
.post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;

    @include media-query($on-laptop) {
        flex-direction: row;
        height: 100vh;
    }

}

.left-half,
.right-half {
    flex: 1;
}

.left-half {        
    position: relative;
    height: 100vh;
    background: darken($background-color, 10%);
    background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/left-bg-small.jpg) no-repeat center darken($background-color, 10%); 
    background-size: 100% 100%, cover;

        @include media-query($on-laptop) {
            background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/left-bg-medium.jpg) no-repeat center darken($background-color, 10%); 
            background-size: 100% 100%, cover;
        }

        @include media-query($on-laptop) {
            background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%), url(../images/left-bg-large.jpg) no-repeat center darken($background-color, 10%); 
            background-size: 100% 100%, cover;
        }

    .content {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1 {
        font-size: 17vw;
        line-height: 1;
        color: white;
        margin-bottom: .2em;

        @include media-query($on-laptop) {
            font-size: 9vw;
        }

        @media (max-width: 800px) and (orientation: landscape) {
            font-size: 8vw;
        }
    }

    .social {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }

}

.right-half {
    padding: 2em 0;
    background: $background-color; 
    color: white;
    
    @include media-query($on-laptop) {
        overflow-y: scroll;
        padding: 0;
    }

    .content {
        padding: 0 5%;

          @include media-query($on-laptop) {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }

        :first-child {
            margin-top: 0;
        }
    }

    h2, h3, h4 {
        color: darken(white, 45%);
    }
}

.recent-articles {
    display: flex;
    flex-wrap: wrap;

    article {
        flex: 1 1 48%;
        margin-bottom: 1.5em;
        margin-right: 2%;

        .date {
            margin-bottom: 0;
        }

        .title {
            margin-top: 0;
        }
    }

    p {
        font-size: .9em;
    }
}

