/**
 * Social Navigation
 */

.social {
    list-style: none;
    font-size: .75em;
    margin: 0;
    padding: 0 0 .5em;
    width: 100%;
    align-self: flex-end; 

    li {
        display: inline-block;
        position: relative;

        a {
            text-decoration: none;
            padding: 0 .25em;

            @include media-query($on-laptop) {

                &:before {
                    width: 0;
                    transition: all .2s ease-in-out;
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #F00658;
                }
            }
        }

        @include media-query($on-laptop) {

            &:hover {
                a:before {
                    width: 100%;
                }
            }
        }
    }
}


