/**
 * Main Navigation
 */

.nav {
    width: 100%;
    padding: .5em 0 0;
    align-self: flex-start;
    margin-left: 0;

    li {
        list-style: none;
        display: inline;

        a {
            color: white; 
            text-decoration: none;
            font-family: $sans-serif;
            text-transform: uppercase;
            padding: 0 .25em;
            font-size: .8em;

            @include media-query($on-laptop) {

                &:before {
                    width: 0;
                    transition: all .2s ease-in-out;
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    top: 58%;
                    left: 0;
                    transform: translateY(-50%);
                    background: $yellow;
                }

                &:hover {
                    background: none;
                    color: $yellow;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/**
 * Social Navigation
 */

.social {
    list-style: none;
    font-size: .75em;
    margin: 0;
    padding: 0 0 .5em;
    width: 100%;
    align-self: flex-end; 

    li {
        display: inline-block;
        position: relative;

        a {
            text-decoration: none;
            padding: 0 .25em;

            @include media-query($on-laptop) {

                &:before {
                    width: 0;
                    transition: all .2s ease-in-out;
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: yellow;
                }
            }
        }

        @include media-query($on-laptop) {

            &:hover {
                a:before {
                    width: 100%;
                }
            }
        }
    }
}


