.post {

    .left-half {
        min-height: 50vh;
        height: 50vh;

        @include media-query($on-laptop) {
            min-height :100vh;
        }

        h1 {
            font-size: 14vw;
            line-height: 1.2;

            @include media-query($on-laptop) {
                font-size: 7vw;
            }
        }
    }
    
    .right-half {
        overflow-y: scroll;
        padding-bottom: 0;
        
        @include media-query($on-laptop) {
            flex: 1 1 15vw;
        }
    }

    article {

        h1,h2,h3,h4,h5,h6,p,ul,ol,dl,.share,#disqus_thread,  {
          padding: 0 5%; 
        }

        #disqus_thread {
            padding-top: 2em;
        }

        ul {
            margin-left: 2em;
        }

        blockquote {
            width: 70%;
            margin: $spacing-unit auto;
            font-size: 1.2em;
        }

        .highlight {
            margin: 3em auto;
        }

        > img {
            margin-bottom: 3em;
            margin-top: 2em;
        }

        header {
            
            h1 {
                font-family: $condensed;
                text-transform: uppercase;
                font-size: 3em;
                margin: 0 auto;
                line-height: 1.2;
                border-bottom: 4px solid $grey-color;
                padding-bottom: .3em;

                @include media-query($on-laptop) {
                   font-size: 4em; 
                }
            }
            
            p {
                font-style: italic;
                color: $yellow;
                font-style: italic;
                margin: 0 auto;
            }
        }
    }

    .post-content {
        p:first-of-type {
            font-size: 1.4em;
            line-height: 1.6;
            margin: 1em auto;
         }
        
        h2 {
            &:before {
                display: none;
            }
        }
     }
}

/*
 * Share The Post
 */

.share {
    margin: 2em 0 0 0;
    font-family: $sans-serif;
    font-size: .8em;
    text-align: center;
    padding: 2em 0;
    background: darken($background-color, 10%);

    li {
        display: inline;
        list-style: none;
        margin-right: .2em;

        a {
            text-decoration: none;
        }
        
        svg {
            fill: $yellow;
            vertical-align: middle;
            width: 2em;
            height: 2em;
            transition: .2s all ease-in-out;

            &:hover {
                fill: yellow;
            }
        }
    }
}

.backLink {
    color: $background-color;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: .5em;
    right: .5em;
    padding: .25em;
    font-size: .75em;
    background: lighten($yellow, 20%);
    transition: .2s all ease-in-out;
    
    @include media-query($on-laptop) {
            
        &:before {
            width: 0;
            transition: all .2s ease-in-out;
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            top: 100%; 
            right: 0;
            background: $background-color;
        }

        &:hover {
            color: white;
            background: darken($yellow, 20%);

            &:before {
                width: 100%;
            }
        }
    }
}

