@import url('https://fonts.googleapis.com/css?family=Rubik+One');

p, blockquote, ul, ol {
    margin-bottom: 1.3em;
}

/**
 * Headings
 */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
    font-weight: bold;
    font-family: $heading;
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: 1.953em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color-light;
    border-left: 4px solid $yellow;
    padding-left: $spacing-unit / 2;
    font-size: 1.4em;
    line-height: 1.8;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

