.work {
    flex-direction: column;
    min-height: 100vh;
    height: 100%;

    .project {
        display: block;
        min-height: 500px;
        position: relative;
        background-position: 95% 2em;
        background-size: 60% auto;
        background-repeat: no-repeat;

        .project__about {
            width: 35%;
            padding: 2em;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: .2s all ease-in-out;


            h2 {
                font-family: $condensed;
                margin-top: 0;
                margin-bottom: .2em;
                font-size: 2em;
            }

            .role {
                font-size: .9em;
                font-style: italic;
                color: rgba(0,0,0,.4);
                margin: 0 0 1em;
            }

            a {
                @include button();
            }
        }

        &:hover {
            .project__about {
                transform: translate(2em, -50%);
            }
        }
 
        a {
           color: white;
           text-decoration: none;
        }
    }

    .sd { 
        background-color: #be2026; 
        background-image: url(/images/sd/sd-desktop-home.jpg);
    }
    .oyl { background: #5c6b80; }
    .stacks { background: #6cb593; }
    .pplus { background: #333; }
    .lesley { background: #004C45; }
    .logos-lettering { background: #3B0723; }
}


/** Projects **/

#project {
    position: fixed;
    display: none;
    z-index: 999;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    color: $grey-color-dark;

    figcaption {
        background: transparent;
        position: relative;
        color: $grey-color;
    }

    h1 {
        font-family: $condensed;
        text-transform: uppercase;
        font-size: 4em;
        margin-bottom: 0;
        margin-top: 1em;
    }

    .project-details {
        font-style: italic;
        color: $grey-color;
        position: relative;
        margin: 1.6em auto;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 4em;
            height: 4px;
            background: $grey-color-light;
            position: absolute;
            top: -1em;
            left: 50%;
            margin-left: -2em;
        }

        &:after {
            top: calc(100% + 1em);
        }
    }

    h2 {
        margin: 1.41em 0 .5em;
        color: white;
    }

    p {
        width: 90%;
        max-width: 700px;
        margin: 0 auto 1.3em;
    }

    .project-section {
        background: $background-color;
        color: white;
        padding: 1.5em 0;

        h2 {
            margin-top: 0;
        }

        p {
            text-align: left;
        }
    }

    .share {
        margin-top: 0;
        color: white;
    }
}

.projectClose {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 4px solid $yellow;
    padding: .5em 1em;
    text-decoration: none;
    transition-delay: .2s;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: $yellow;
        z-index: -1;
        transition: .2s all ease-in-out;
    }

    &:hover {
        color: white;

        &:before {
            width: 102%;
        }
   } 
}
