// Our variables
$mono:            'Space Mono', monospace;
$serif:            Georgia, serif;
$heading:          'Teko', serif;
$base-font-size:   20px;
$base-line-height: 1.7;

$spacing-unit:     2rem;

$on-palm:          600px;
$on-laptop:        800px;
$on-desktop:       1000px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@import
        "base",
        "typography",
        "layout",
        "nav"
;
