body, h1, h2, h3, p, ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: normal; }
body{ font-family: Lora, Georgia, serif; line-height: 1.5; font-weight: 300; color: white; background-color: rgb(55, 60, 53); }
body a{ color: rgb(153, 153, 0); }
ul{ margin-left: 1rem; }
a{ color: rgb(153, 153, 0); text-decoration: underline; position: relative; }
p, ul{ margin-bottom: 1.3em; }
p{ -webkit-hyphens: auto; word-break: break-word; }
p{ margin-bottom: 1.3em; }
h1, h2, h3{ margin-top: 1.414em; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; font-weight: normal; font-style: normal; font-family: Montserrat, sans-serif; line-height: 1.2; }
h1{ margin-top: 0px; font-size: 2.441em; font-family: salomeregular, cursive; font-weight: normal; }
h2{ font-size: 1.953em; letter-spacing: 2px; }
h2{ font-size: 1.953em; }
h3{ font-size: 1.563em; }
.nav{ width: 100%; padding-top: 0.5em; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.nav li{ list-style-type: none; list-style-position: initial; list-style-image: initial; display: inline; }
.nav li a{ color: white; text-decoration: none; font-family: Montserrat, sans-serif; text-transform: uppercase; padding-top: 0px; padding-right: 0.25em; padding-bottom: 0px; padding-left: 0.25em; font-size: 0.8em; }
@media screen and (min-width: 800px){
.nav li a::before{ width: 0px; -webkit-transition-property: all; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; content: ''; display: block; height: 1px; position: absolute; top: 58%; left: 0px; -webkit-transform: translateY(-50%); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(153, 153, 0); background-position: initial initial; background-repeat: initial initial; }
}
.social{ list-style-type: none; list-style-position: initial; list-style-image: initial; font-size: 0.75em; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0.5em; padding-left: 0px; width: 100%; }
.social li{ display: inline-block; position: relative; }
.social li a{ text-decoration: none; padding-top: 0px; padding-right: 0.25em; padding-bottom: 0px; padding-left: 0.25em; }
@media screen and (min-width: 800px){
.social li a::before{ width: 0px; -webkit-transition-property: all; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; content: ''; display: block; height: 1px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: yellow; background-position: initial initial; background-repeat: initial initial; }
}
.animsition{ position: relative; opacity: 0; -webkit-animation-fill-mode: both; }
.animsition-loading, .animsition-loading::after{ width: 32px; height: 32px; position: fixed; top: 50%; left: 50%; margin-top: -16px; margin-left: -16px; border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; z-index: 100; }
.animsition-loading{ background-color: transparent; border-top-width: 5px; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.199219); border-right-width: 5px; border-right-style: solid; border-right-color: rgba(0, 0, 0, 0.199219); border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0.199219); border-left-width: 5px; border-left-style: solid; border-left-color: rgb(238, 238, 238); -webkit-transform: translateZ(0px); -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -webkit-animation-duration: 0.8s; -webkit-animation-name: animsition-loading; }
html, body{ height: 100%; width: 100%; font-size: 20px; }
@media screen and (min-width: 800px){
html, body{ font-size: 22px; }
}
.home{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-align: stretch; -webkit-box-pack: center; }
@media screen and (min-width: 800px){
.home{ -webkit-box-orient: horizontal; -webkit-box-direction: normal; }
}
.left-half, .right-half{ -webkit-box-flex: 1; }
.left-half{ position: relative; background-image: -webkit-linear-gradient(left top, transparent 50%, rgba(0, 0, 0, 0.246094) 50%), url(../images/left-bg.jpg); background-attachment: initial, initial; background-origin: initial, initial; background-clip: initial, initial; background-color: rgb(30, 33, 29); background-size: 100% 100%, cover; background-position: 50% 50%; background-repeat: no-repeat; }
.left-half .content{ text-align: center; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-pack: justify; }
.left-half h1{ line-height: 1; color: white; margin-bottom: 0.2em; }
@media screen and (min-width: 800px){
.left-half h1{ }
}
@media (max-width: 800px) and (orientation: landscape){
.left-half h1{ }
}
.right-half{ padding-top: 2em; padding-right: 0px; padding-bottom: 2em; padding-left: 0px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(55, 60, 53); color: white; background-position: initial initial; background-repeat: initial initial; }
.right-half .content{ padding-top: 0px; padding-right: 5%; padding-bottom: 0px; padding-left: 5%; }
.right-half .content :first-child{ margin-top: 0px; }
.right-half h2, .right-half h3{ color: rgb(140, 140, 140); }
.right-half h2{ font-family: Montserrat, sans-serif; text-transform: uppercase; letter-spacing: 4px; }
.right-half p{ line-height: 1.8; }