@font-face {
    font-family: 'salomeregular';
    src: url('../fonts/salome-webfont.eot');
    src: url('../fonts/salome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/salome-webfont.woff2') format('woff2'),
         url('../fonts/salome-webfont.woff') format('woff'),
         url('../fonts/salome-webfont.ttf') format('truetype'),
         url('../fonts/salome-webfont.svg#salomeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}