<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

	<nav>
	  	<a class="navicon-button x"  id="nav-toggle">
	      <div class="navicon"></div>
	    </a>

	    <ul>
	    	<li><a href="https://github.com/brianmaierjr" target="_blank">GitHub</a></li>
	    	<li><a href="https://dribbble.com/brianmaierjr" target="_blank">Dribbble</a></li>
	    	<li><a href="https://twitter.com/brianmaierjr" target="_blank">Twitter</a></li>
	    	<li><a class="contact" href="mailto:brimaidesigns@gmail.com" />Contact</a></li>
	    </ul>
	</nav>

    {{ content }}

  </body>

  {% include footer.html %}

</html>
