<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

	<nav>
	  	<a class="navicon-button x"  id="nav-toggle">
	      <div class="navicon"></div>
	    </a>

	    <ul>
            <li><a href="/">Home</a></li>
            <li><a class="aboutTrigger" href="#">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="mailto:brianmaierjr@gmail.com?subject=Hey dude. Let's make magic together.">Contact</a></li>
	    </ul>
	</nav>

    <div id="content">
        {{ content }}
    </div>

  </body>

  {% include footer.html %}

</html>
