---
layout: default 
---

<div class="post">

    <div class="left-half animsition item" {% if page.image %} style="background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%) center center, url(/images/{{ page.image }}) center center; background-size: 100% 100%, cover;"{% endif %}>
      <div class="content">
        <a class="backLink" href="/articles">&larr; back to articles</a>
      </div>
    </div>

    <div class="right-half">
        <article itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <p>{{ page.date | date: '%B %d, %Y' }}</p>
            <h1>{{ page.title }}</h1> 
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//brianmaierjr.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </article>

        <footer>
            {% include share.html %}
        </footer>
      </div>

</div>
