---
layout: default 
---

<div class="post">

    <div class="left-half animsition item" {% if page.image %} style="background: linear-gradient(to right bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,.25) 50%) center center, url(/images/{{ page.image }}) center center; background-size: 100% 100%, cover;"{% endif %}>
      <div class="content">
        <a class="backLink" href="/articles">&larr; back to articles</a>
      </div>
    </div>

    <div class="right-half">
        <article itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <p>{{ page.date | date: '%B %d, %Y' }}</p>
            <h1>{{ page.title }}</h1> 
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>

        <footer>
            {% include share.html %}
        </footer>
      </div>

</div>
